#name - the mod name. Allows Minetest to determine the mod name even if the folder is wrongly named.
#description - Description of the mod to be shown in the Mods tab of the main menu.
#depends - A comma-separated list of dependencies. These are mods that must be loaded before this mod.
#optional_depends 

name = portmeto
description = Minetest Mod - a configurable picture frame to use as a teleport device
depends = default
